/* Page background and text */

body {
    background-color: gray;
    font-family: Arial, sans-serif;
    text-align: left;
}

.show{
	background-color:white;
	color:gray;
	margin-top:10px;
	margin-bottom:20px;
}
.row{
	margin-top:100px;
	margin-bottom:20px;
	min-height:10px;
	justify-content:space-between;
}
.container{
	displa:flex;
	justify-content:space-between;
}
